*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;
}

header {
    grid-area: header;
    padding: 1rem;
    background-color: black;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

header nav button {
    padding: .5rem 1rem;
    border-radius: 10px;
}

footer {
    font-weight: bold;
    grid-area: footer;
    text-align: center;
    color: aliceblue;
    background-color: black;
    padding: 1rem;
}

.home {
    grid-area: main;
    padding: 10rem;
    gap: .5rem;
    display: flex;
    align-items: center;
    background-color: rgb(22, 22, 26);
    color: aliceblue;
    min-height: 100%;
}

.left-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.title-home {
    font-size: 3rem;
}

.reserve {
    padding: 1rem 2rem;
    border-radius: 10px;
}

.homeImage {
    border-radius: 10px;
    width: 100%;
}

button:hover {
    background-color: grey;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 22, 26);
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.menu-section {
    background-color: aliceblue;
    padding: 2rem;
    width: 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-article {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "left-about right-about";
    background-color: rgb(22, 22, 26);
    min-height: 100%;
    padding: 2rem;
}

.left-about {
    grid-area: left-about;
}

.right-about {
    grid-area: right-about;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
}

.about-title {
    color: rgb(196, 132, 48);
    font-size: 5rem;
    text-align: center;
}

.about-subtitle {
    color: aliceblue;
    font-size: 3rem;
    text-align: center;
}

.about-text {
    color: rgb(196, 132, 48);
    font-size: 1.5rem;
}

.adress-img {
    border-radius: 10px;
}